
cocotb
vlsim
pyelftools

-e git+ssh://git@github.com/pybfms/pybfms.git#egg=pybfms
-e git+ssh://git@github.com/pybfms/pybfms_wishbone.git#egg=pybfms_wishbone
-e git+ssh://git@github.com/pybfms/pybfms_logic_analyzer.git#egg=pybfms-logic-analyzer
# -e git+ssh://git@github.com/pybfms/pybfms_spi.git#egg=pybfms_spi

